/* ----------------------------- media 1076px------------------------------- */
@media only screen and (max-width: 1076px) {
    .head_content h1 {
        font-size: 4.5vw;
    }    
    .col-1 .card .small_card h2 {
        margin-bottom: 0px;
    }
    .col-1 .card{
        align-self: stretch ;
        height: 100%;
    }
    .col-3 .head_text3 h1 {
        font-size: 3.5vw;
        margin: 0 auto 10px auto;
    }
}
/* ----------------------------- media 800px------------------------------- */
@media only screen and (max-width: 801px){
    .head_content h1 {
        font-size: 5vw;
    }  
    .head_text1 h1 {
        font-size: 4.5vw;
    }
    .head_text2 h1 {
        font-size: 4.5vw;
    }
    .head_text4 h1 {
        font-size: 4.5vw;
    }
    .col-3 .head_text3 h1{
        font-size: 4.5vw;
    }    
    .col-5 .head_text5 h1 {
        font-size: 4.5vw;
    }
}
/* ----------------------------- media 750px------------------------------- */
@media only screen and (max-width:751px){
    .nav .logo {
        margin: 0 auto 0 0 ;
    }
    .nav ul{
        display: block;
        max-width: 750px;
        position: absolute;
        background-color: #f0f0f0;
        width: 100%;
        top: -50%;
        height: 35vh;
        z-index: 5;
        transition: all .6s linear;
        border-radius: 10px;
    }
    .nav ul.show{
        top: 10.8%;
    }
    .nav .burger{
        display: block;
    }
    .col-3 .head_text3 h1{
        font-size: 5vw;
    }
    .col-5 .profile_cards {
        flex-direction: column;
        gap: 35px 0;
    }
    .col-5 .profile_cards .small_card {
        background-color: #e2e2e2;
        border-radius: 15px;
        padding: 0 15px 15px 15px;
        position: relative;
        max-width: 760px;
        flex-basis: 350px;
        flex-grow: 1;
        max-height: 300px;
    }
}
/* ----------------------------- media 660px------------------------------- */
@media only screen and (max-width:661px) {
    .head_content {
        justify-content: flex-start;
        flex-direction: column;
    }
    .head_content h1 {
        margin-top: 35px;
        font-size: 6vw;
    }
    .property{
        flex-direction: column;
        max-width: 670px;
    }
    .property .property_search {
        display: block;
        max-width: 30   0px;
        width: 100%;
        margin: 0 auto 0 0;
        padding: 20px 15px 20px 15px;
        background-color: #f0f0f0;
        color: #000;
        border-radius: 0 20px 20px 20px;
    }
    .property .property_search .property_type {
        padding: 15px 0 15px 0;
        border-right: none;
        border-bottom: 1px solid #000;
    }
    .head_text1 h1 {
        font-size: 5vw;
    }
    .head_text2 h1 {
        font-size: 5.5vw;
    }
    .col-3 .head_text3 h1{
        font-size: 5.5vw;
    }
    .col-8.row {
        justify-content: flex-start;
        gap: 10px 10px;
    }
}
/* ----------------------------- media 500px------------------------------- */
@media only screen and (max-width: 501px){
    .head_content h1 {
        font-size: 6.8vw;
    }
    .head_content p {
        font-size: 14px;
        line-height: 20px;
    }
    .head_text1 h1 {
        font-size: 5.5vw;
    }
    .head_text1 p {
        font-size: 14px;
        line-height: 20px;
    }
    .col-1 .card .small_card h2 {
        font-size: 35px;
    }
    .col-1 .card .small_card p{
        font-size: 14px;
    }
    .col-1 .card .card_text p {
        line-height: 25px;
        font-size: 14px;
    }
    .head_text2 h1{
        font-size: 5.5vw;
    }
    .head_text2 p {
        font-size: 14px;
        line-height: 20px;
    }
    .col-3 .head_text3 h1 {
        font-size: 6vw;
    }
    .head_text4 h1 {
        font-size: 5.5vw;
    }
    .head_text4 p {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
    }
    .col-5 .head_text5 h1 {
        font-size: 5.5vw;
    }
    .col-5 .head_text5 p{
        font-size: 14px;
        line-height: 20px;
    }
    .col-5 .profile_cards .big_card {
        max-height: 300px;
    }
    .col-5 .profile_cards .small_card {
        max-height: 250px;
    }
    .col-5 .profile_cards .big_card p {
        font-size: 14px;
        line-height: 20px;
    }
    .col-5 .profile_cards .small_card p {
        font-size: 14px;
        line-height: 20px;
    }
    .footer_headtext .h1 h1 {
        font-size: 5.5vw;
    }
    .footer_headtext .h1 p {
        font-size: 14px;
        line-height: 20px;
    }
    .col-8 p {
        line-height: 20px;
    }
}
/* ----------------------------- media 380px------------------------------- */
@media only screen and (max-width:381px ){
    .nav .logo img {
        width: 30px;
    }
    .head_content h1 {
        text-align: center;
    }
    .head_text1 h1 {
        font-size: 25px;
    }
    .head_text2 h1 {
        font-size: 25px;
    }
    .col-3 .head_text3 h1 {
        font-size: 25px;
    }
    .col-3 .world_map .dot {
        width: 15px;
        height: 15px;
    }
    .col-3 .world_map .Mexico_dot {
        top: 48%;
        left: 18%;
    }
    .col-3 .world_map .usa_dot {
        top: 39%;
        left: 24%;
    }
    .col-3 .world_map .brazil_dot {
        top: 68%;
        left: 33%;
    }
    .col-3 .world_map .australia_dot {
        top: 74%;
        left: 85%;
    }
    .col-3 .world_map .dot .location_property{
        z-index: 5000;
    }
    .col-3 .world_map .dot .location_property img {
        width: 25px;
        height: 25px;
    }  
    .col-3 .world_map .dot .location_property h4 {
        font-size: 12px;
        font-weight: bold;
        margin: 5px auto;
        text-align: center;
    }
    .col-3 .world_map .dot .inner_dot {
        width: 5px;
        height: 5px;
    }
    .profile_cards .big_card .stars img.quotation{
        width: 35px;
    }
    .profile_cards .small_card .stars img.quotation{
        width: 35px;
    }
    .head_text4 h1 {
        font-size: 25px;
    }
    .col-5 .head_text5 h1 {
        font-size: 25px;
        text-align: center;
    }
}